@import '../../../css/variables';

.container { display: none; }
.slider_wrapper {}
.arrows_container {}
.arrow{}
.back{}
.next{}

@media (max-width: $xs-screen) {
  .container {
    display: initial;
    width: 90%;
    margin-top: 5%;

    .carousel__inner-slide {
      height: auto;
      display: contents;
      padding: 5%;
    }

    li {
      height: auto;
      padding: 0 1% 0 !important;
    }
  }

  .arrows_container {
    width: 100%;
    display: grid;
    grid-template-areas: "left center right";
    grid-template-columns: 1fr 3fr 1fr;
  }

  .about_paragraphs ,.about_quote { display: none; }

  .arrow {
    background: none;
    border: none;
    width: 40px;
    z-index: 1;
  }

  .arrow[disabled] { display: none; }

  .back {
    transform: rotate(180deg);
    grid-area: left;
  }
  .next { grid-area: right; }

  .arrow, .slider_wrapper:focus { outline: none; }
}
