@import '../../../css/variables';

.box {
  position: relative;
  width: 24vw;
  height: 67vh;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}


.face1 {
  display: flex;
  background-color: #333;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform-origin: bottom;
}

.face2 {
  background-color: $white-color;
  display: flex;
  padding: 2% 5%;
  transform-origin: bottom;
  transform: translateY(100%) rotateX(90deg);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.title {
  color: $white-color;
  font-size: 3rem;
}

.title_two {
  font-family: $title-font;
  font-size: 2rem;
  text-align: left;
}

.icon {
  width: 35%;
  padding-top: 5%;
}

.text {
  font-family: $main-font;
  text-align: left;
  font-size: 1.1rem;
  padding-top: 5%;
}

.box:hover .face.face1 {
  transform: translateY(-100%) rotateX(90deg);
}

.box:hover .face.face2 {
  transform: translateY(0) rotateX(0deg);
}

@media (max-width: $xs-screen) {
  .box {
    width: 100%;
    height: 75vh;
  }

  .face2 {
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    transform-origin: initial;
    transform: none;
    z-index: 1;
  }

  .face1 {
    display: none;
    z-index: 0;
    transform-origin: unset;
  }
}
