@import '../../css/variables';

.container {
  background-image: url('/assets/images/img_athletics.jpg?webp');
  background-size: cover;
  padding: 35px 0;
}

.container.specific_container {
  background: none;
  display: flex;
  justify-content: space-around;
  height: 200px;
}

.specific_container {
  display: flex;

  .tile_container {
    width: 300px;
  }

  .tile_title {
    display: none;
  }
}

.title {
  display: flex;
  color: $white-color;
  font-size: 6rem;
  padding: 2% 0 0 2%;
}

@media (max-width: $xs-screen) {
  .container {
    background-position: initial;
    background-size: cover;
  }

  .container.specific_container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .specific_container {
    display: flex;
  
    .tile_container {
      height: auto;
    }
  }
  .title {
    font-size: 5.5rem;
    padding-top: 5%;
    justify-content: center;
  }
}
