@import '../../css/variables';

.container {
  background-image: url('/assets/images/img_athletics.jpg?webp');
  background-position: center;
}

.container.specific_container {
  background: none;
  flex-wrap: wrap;
}

.specific_container {
  display: flex;

  .tile_container {
    width: 70%;
  }

  .tile_title {
    display: none;
  }
}

.title {
  display: flex;
  color: $white-color;
  font-size: 6rem;
  padding: 2% 0 0 2%;
}

@media (max-width: $xs-screen) {
  .container {
    background-position: initial;
    background-size: cover;
  }

  .title {
    font-size: 5.5rem;
    padding-top: 5%;
    justify-content: center;
  }
}
