@import '../../css/variables';

.container {
  background-image: url('/assets/images/img_tennis.jpg?webp');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.boxes_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(40,44,52,0.5);
  padding: 2%;
  margin-top: 4%;
  max-width: 1400px;
}

.title {
  display: flex;
  color: $white-color;
  padding: 15px 0;
  font-size: 6rem;
  width: 100%;
  justify-content: flex-end;
  padding-right: 12%;
}

@media (max-width: $xs-screen) {
  .boxes_container {
    display: none;
  }

  //TODO: Check where to place this
  .mobile-carousel_container {
    width: 70vw;
    padding-top: 5%;
  }
}
