@import '../../css/variables';

.contact-container {
  background-image: url('../../assets/images/img_field.jpg');
  background-position: top;
  padding: 1% 3% 0 3%;
}

.contact-content {
  background-color: rgba(256, 256, 256, 0.5);
  padding: 0 2% 1% 2%;
  display: flex;
  justify-content: space-between;
}

.contact-logo-text-icon {
  width: 40%;
}

.contact-logo-container {
  display: inline-flex;
  background-color: #1D386C;
  width: 80%;
  padding: 5%;
  box-shadow: 10px 5px 15px $black-color;
}

.contact-logo {
  width: 100%;
}

.contact-text-container {
  position: relative;
  top: 15%;
}

.contact-text {
  display: flex;
  padding-left: 4%;
  font-size: 3.5rem;
  justify-content: center;
}

.contact-icons-container {
  display: flex;
  justify-content: center;
  padding-left: 2%;
}

.contact-icon {
  width: 22%;
  padding: 0 5px;
}

.contact-last {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  color: $white-color;
}

.contact-emails {
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
}

.contact-title {
  font-size: 6rem;
}

@media (max-width: $xs-screen) {
  .contact-content {
    display: block;
  }

  .contact-logo-text-icon {
    width: 100%;
  }

  .contact-text-container {
    padding: 5% 0;
  }

  .contact-text {
    padding: 0;
    font-size: 3rem;
  }

  .contact-last {
    display: block;
  }

  .contact-emails {
    p {
      font-size: 1.3rem;
    }
  }

  .contact-title {
    font-size: 5rem;
  }

  .form-container {
    .inspir-contact-form {
      display: flex;
      justify-content: center;
    }
  }
}
