@import '../../../css/variables';

.mobile-carousel_container { display: none; }

@media (max-width: $md-screen) {
  .mobile-carousel_container {
    display: initial;

    .carousel__inner-slide {
      height: auto;
      display: contents;
      padding: 5%;
    }

    li {
      height: auto;
      padding: 0 1% 0 !important;
    }
  }

  .arrows-container {
    width: 100%;
    display: grid;
    grid-template-areas: "left center right";
    grid-template-columns: 1fr 3fr 1fr;
  }

  .about-paragraphs ,.about-quote { display: none; }

  .arrow {
    background: none;
    border: none;
    width: 40px;
    z-index: 1;
  }

  .arrow[disabled] { display: none; }

  .back {
    transform: rotate(180deg);
    grid-area: left;
  }
  .next { grid-area: right; }

  .arrow, .mobile-carousel_slider-wrapper:focus { outline: none; }
}