@import '../../../css/variables';

.link {
  width: 20%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

.icon {
  width: 85%;
}

.title {
  font-family: $title-font;
  padding: 5%;
  font-size: 1.9rem;
}

@media (max-width: $xs-screen) {
  .link {
    height: auto;
    width: 50%;
    padding: 5% 0;
  }

  .title {
    font-size: 1.5rem;
    padding: 0;
  }
}
