@import '../../css/variables';

.container {
  display: flex;
  background-color: $grey-color;
  padding: 4% 2%;
}

.title {
  transform: rotate(-90deg);
  color: $white-color;
  font-size: 6rem;
  position: relative;
  top: 30%;
}

.text {
  color: $white-color;
  font-size: 1.4rem;
  text-align: left;
  word-spacing: 0.3rem;
  line-height: 1.7rem;
}

//TODO: Handle last text with css selector :last-child
.last_text {
  color: $white-color;
  font-size: 1.4rem;
  text-align: left;
  font-weight: bold;
  margin-top: 3%;
}

@media (max-width: $xs-screen) {
  .container { flex-direction: column; }

  .title { transform: none; }

  .text { padding: 0 2%; }

  .last_text { padding: 0 2%; }
}
