//Colors
$red-errors: #cc0017;
$green-succeed: #33a533;
//Devices sizes
$xs-screen: 450px;

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  transition: 300ms;
}

.contact-input.error {
  border: 3px solid $red-errors;
  background-color: #cc001712;
  font-weight: 600;
}

.contact-input-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 80%;
  width: 100%;
}

.error-message {
  font-size: clamp(16px, 0.2em, 22px);
  color: $red-errors;
}

.message {
  min-height: 3em;
  border: 1px solid;
  border-radius: 2px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 { font-size: clamp(24px, 0.2em, 30px); }
  p { font-size: clamp(16px, 0.2em, 24px); }
}

.message.error {
  background-color: #cc001712;
  color: $red-errors;
  border: 2px solid $red-errors;
}

.message.succeed {
  background-color: #1ec61e40;
  color: $green-succeed;
  border: 2px solid $green-succeed;
}

@media (max-width: $xs-screen) {
  .contact-input-button {
    height: 6vh;
    width: 50vw;
    display: block;
    margin: auto;
  }
}