//Devices sizes
$xs-screen: 450px;
$md-screen: 700px;
$lg-screen: 1024px;

//Hide menu for medium screen and higher
@media (min-width: $md-screen) {
  #menuToggle { display: none !important; }
}

#menuToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 3%;
  width: 7vw;
  height: 7vw;
  padding: 1% 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

// Hide button that will trigger the toggle to open and close the menu
#menuToggle input {
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;

  width: 100%;
  height: 100%;
}

/*
 * Hamburger menu
 */
#menuToggle span {
  background: #cdcdcd;
  height: 25%;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 1% 1%;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child { transform-origin: 0 0; }

#menuToggle span:nth-last-child(2) { transform-origin: 0 100%; }

/*
 * Transform all the slices of hamburger
 * into a cross.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

/*
 * Hide the middle line one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Rotate line direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) { transform: rotate(-45deg) translate(-1px, -1px); }

// Actual menu with the options
#menu {
  position: absolute;
  top: -100%;
  left: 70%;
  padding: 200% 70% 160%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  width: 80vw;
  /* to stop flickering of text in safari */

  transition: all 500ms;
}

#menu li {
  padding: 5% 0;
  font-size: clamp(100%, 5vw, 24px);
  transition: all 150ms;
  border-bottom: solid;
}

/*
 * Make slide came from right
 */
#menuToggle input:checked ~ #menu {
  background-color: hsla(0,0%,89.4%,.901961);
  transform: translate(-90%, 0);
}