/*
TODO: Poner los estilos que sean textos aca (h1,h2,h3...,p) con la fuente y tamanos para no tener que repetir eso en cada archivo
*/
@import './css/variables.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.our-services-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.transition-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $red-color;
  z-index: 1;
  transition: all 400ms linear 150ms;
  transform: translateX(-100%);
}

/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
  .transition-overlay {
    transform: translateX(-50%);
  }
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  .transition-overlay {
    transform: scaleX(1.5);
  }
}

.fade-exit {

}

.fade-exit.fade-exit-active {
  .transition-overlay {
    transform: translateX(0);
  }
}
